<div class="col">
    <h2>Listado de posts</h2>
<hr>
    <a href="/posts/new"  class="btn btn-success">Crear Post</a>
<hr>
<table class="table">
    <thead class="table-secondary">
        <tr>

            <th scope="col">Titulo</th>
            <th scope="col">Post</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>

        {{#each posts}}
        <tr>
            <td width="30%">{{this.title}}</td>
            <td width="40%">{{this.body}}</td>
            <td>
                <a href="/posts/{{this.slug}}" class="btn btn-secondary">Ver</a>
                <a href="/posts/edit/{{this.id}}" class="btn btn-primary">Editar</a>
                <form action="/posts/{{this._id}}?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Eliminar</button>
                </form>

            </td>
        </tr>
        {{/each}}

    </tbody>
</table>
</div>